.card {
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    border: 1px solid white;
    padding: 20px;
    border-radius: 5%;
    text-align: left;
    background-color: white;
    margin: 10px;
    max-width: 400px;
    box-shadow: 5px 5px 5px rgb(101, 243, 20);
    text-align: center;
}


.features {
    text-align: left;
}

.header{
    text-align: center;
}


.button {
    
        background-color: rgb(57, 57, 204); 
        border: none;
        color: white;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        text-decoration: none;
        display: inline block;
        font-size: 15px;
        border-radius: 5%;
        cursor: pointer;
        font-weight: bold;
       
}